doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/fontello.css")
  body
    link(rel='stylesheet', href='/stylesheets/app.css')
    #application
    script !{page_data}
    script(src='/react/app.js' type='text/javascript')